@use 'src/css/components/_animation.scss';

.animeringsknappar
{

    position: relative;
    width: 150px;
    height: fit-content;
    background-color: aqua;
    margin: auto;
    font-size: 2vw;

}